<div class="page-header section-dark" style="background-image: url('assets/img/ilya-yakover.jpg')">
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <div class="title-brand">
              <h1 class="presentation-title">Error 404</h1>
              <div class="fog-low">
                  <img src="assets/img/fog-low.png" alt="">
              </div>
              <div class="fog-low right">
                  <img src="assets/img/fog-low.png" alt="">
              </div>
          </div>

          <h2 class="presentation-subtitle text-center">Página no encontrada. Por favor, vuelva a la <a href="/home">home</a>.</h2>
      </div>
  </div>
  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>