<div class="section section-dark section-portfolio">
  <div class="container">
    <div class="tim-title">
      <h2 class="title">Trabajos</h2>
    </div>
    <div class="col-md-12">

      <div class="row portfolio-row">
        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Oysho', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Oysho'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
          <!-- <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a> -->
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'COSRED', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'COSRED'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Revista GQ', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Revista GQ'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Hasten Group', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Hasten Group'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

      </div>

      <div class="row portfolio-row">
        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Telefónica STEMbyme', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Telefónica STEMbyme'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Telefónica ScolarTic', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Telefónica ScolarTic'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Telefónica Chile', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Telefónica Chile'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Axa Golfo', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Axa Golfo'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

      </div>

      <div class="row portfolio-row">

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Axa Nigeria', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Axa Nigeria'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Axa Argelia', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Axa Argelia'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Axa Wizard', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Axa Wizard'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Axa Digital Kitchen', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Axa Digital Kitchen'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

      </div>

      <div class="row portfolio-row">
        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Código y descuento', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Código y descuento'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Revista Todofertas', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Revista Todofertas'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Papelería Planos', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Papelería Planos'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Talleres Garmar', './assets/img/examples/landing-page.JPG')">
            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Talleres Garmar'"
                               [imagePath]="'./assets/img/examples/landing-page.JPG'"></app-modal-component>
        </div>

      </div>

    </div>
  </div>
</div>