<div id="portfolio" class="section section-dark section-portfolio">
  <div class="container">
    <div class="tim-title">
      <h2 class="title">Trabajos</h2>
    </div>
    <div class="col-md-12">

      <div class="row portfolio-row">
        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Oysho', './assets/img/portfolio/oysho.png')">
            <img src="./assets/img/portfolio/oysho.png" alt="oysho" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Oysho'"
                               [imagePath]="'./assets/img/portfolio/oysho.png'"></app-modal-component>
          <!-- <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a> -->
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'COSRED', './assets/img/portfolio/cosred.png')">
            <img src="./assets/img/portfolio/cosred.png" alt="cosred" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'COSRED'"
                               [imagePath]="'./assets/img/portfolio/cosred.png'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Revista GQ', './assets/img/portfolio/gq.png')">
            <img src="./assets/img/portfolio/gq.png" alt="gq" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Revista GQ'"
                               [imagePath]="'./assets/img/portfolio/gq.png'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Hasten Group', './assets/img/portfolio/hasten.png')">
            <img src="./assets/img/portfolio/hasten.png" alt="hasten" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Hasten Group'"
                               [imagePath]="'./assets/img/portfolio/hasten.png'"></app-modal-component>
        </div>

      </div>

      <div class="row portfolio-row">
        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Telefónica STEMbyme', './assets/img/portfolio/telefonica_stembyme.png')">
            <img src="./assets/img/portfolio/telefonica_stembyme.png" alt="stembyme" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Telefónica STEMbyme'"
                               [imagePath]="'./assets/img/portfolio/telefonica_stembyme.png'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Telefónica ScolarTic', './assets/img/portfolio/telefonica_scolartic.png')">
            <img src="./assets/img/portfolio/telefonica_scolartic.png" alt="scolartic" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Telefónica ScolarTic'"
                               [imagePath]="'./assets/img/portfolio/telefonica_scolartic.png'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Telefónica Chile', './assets/img/portfolio/telefonica_chile.png')">
            <img src="./assets/img/portfolio/telefonica_chile.png" alt="chile" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Telefónica Chile'"
                               [imagePath]="'./assets/img/portfolio/telefonica_chile.png'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Axa Golfo', './assets/img/portfolio/golfo.png')">
            <img src="./assets/img/portfolio/golfo.png" alt="golfo" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Axa Golfo'"
                               [imagePath]="'./assets/img/portfolio/golfo.png'"></app-modal-component>
        </div>

      </div>

      <div class="row portfolio-row">

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Axa Nigeria', './assets/img/portfolio/nigeria.png')">
            <img src="./assets/img/portfolio/nigeria.png" alt="nigeria" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Axa Nigeria'"
                               [imagePath]="'./assets/img/portfolio/nigeria.png'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Axa Argelia', './assets/img/portfolio/argelia.png')">
            <img src="./assets/img/portfolio/argelia.png" alt="argelia" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Axa Argelia'"
                               [imagePath]="'./assets/img/portfolio/argelia.png'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Axa Wizard', './assets/img/portfolio/wizard.png')">
            <img src="./assets/img/portfolio/wizard.png" alt="wizard" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Axa Wizard'"
                               [imagePath]="'./assets/img/portfolio/wizard.png'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Axa Digital Kitchen', './assets/img/portfolio/digital_kitchen.png')">
            <img src="./assets/img/portfolio/digital_kitchen.png" alt="digital kitchen" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Axa Digital Kitchen'"
                               [imagePath]="'./assets/img/portfolio/digital_kitchen.png'"></app-modal-component>
        </div>

      </div>

      <div class="row portfolio-row">
        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Código y descuento', './assets/img/portfolio/codigoydescuento.png')">
            <img src="./assets/img/portfolio/codigoydescuento.png" alt="codigo y descuento" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Código y descuento'"
                               [imagePath]="'./assets/img/portfolio/codigoydescuento.png'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Revista Todofertas', './assets/img/portfolio/todofertas.png')">
            <img src="./assets/img/portfolio/todofertas.png" alt="todofertas" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Revista Todofertas'"
                               [imagePath]="'./assets/img/portfolio/todofertas.png'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Papelería Planos', './assets/img/portfolio/papeleria_planos.png')">
            <img src="./assets/img/portfolio/papeleria_planos.png" alt="papeleria planos" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Papelería Planos'"
                               [imagePath]="'./assets/img/portfolio/papeleria_planos.png'"></app-modal-component>
        </div>

        <div class="col-md-3 text-center" routerLinkActive="active">
          <a href="#" (click)="openModal($event, 'Talleres Garmar', './assets/img/portfolio/garmar.png')">
            <img src="./assets/img/portfolio/garmar.png" alt="garmar" class="img-rounded" style="width: 100%">
          </a>
          <app-modal-component [name]="'Talleres Garmar'"
                               [imagePath]="'./assets/img/portfolio/garmar.png'"></app-modal-component>
        </div>

      </div>

    </div>
  </div>
</div>