<div id="about" class="section section-dark section-about">
  <div class="container">
    <div class="tim-title">
      <h2 class="title">Sobre mí</h2>
    </div>
    <div class="row">
      <div class="col-md-6 img-container">
        <img src="assets/img/faces/eloy.jpg" class="img-circle img-no-padding" alt="Rounded Image">
      </div>
      <div class="col-md-6 description-container">
        <p class="description">Me considero una persona que no puede estarse quieta. Siempre tengo algún proyecto en mente y considero que estoy, y estaré,  el resto de mi vida  en constante aprendizaje. El mundo del desarrollo web me apasiona y aún más la parte de front-end. Si tuviese que definirme rápidamente seria: <span class="comillas-text">“excelente dominio de múltiples lenguajes de programación, principalmente ambientado al desarrollo web. Buen trabajo en equipo y adaptación rápida a las peculiaridades del mercado"</span>.</p>
        <p class="description"> A demás de la formación, la experiencia es un punto fuerte en mí ya que he trabajado en múltiples portales con su maquetación y su desarrollo.</p>
        <p class="description">El compromiso con uno mismo es la clave para un correcto y profesional trabajo en cualquier proyecto sobre el que se trabaje. Si se quiere algo, hay que esforzarse y si es en algo que te gusta, mucho mejor.</p>

        <div class="contact-details">
          <h3 class="title">Datos de contacto</h3>
            <p class="description address">
              <span>Eloy-Gonzalo Arias Gil</span><br>
              <span>Madrid- España</span><br>
              <span>(+34) <a href="tel:648981838">648 98 18 38</a></span><br>
              <span>eloyariasgil@gmail.com</span>
            </p>
        </div>

        <div class="download">
          <!-- <p>
            <button type="button" (click)="downloadFile('CURRICULUM-VITAE-PROGRAMADOR-v2')" class="btn btn-outline-danger btn-lg"><i class="fa fa-download"></i>Descargar CV<br>(Versión española)</button>&nbsp;
            <button type="button" (click)="downloadFile('CURRICULUM-VITAE-PROGRAMADOR-v2-EN')" class="btn btn-outline-danger btn-lg"><i class="fa fa-download"></i>Download CV<br>(English version)</button>
          </p> -->
          <p>
            <a href="http://eloyariascurriculum.com/assets/img/CURRICULUM-VITAE-PROGRAMADOR-v2.pdf" target="_blank" class="btn btn-outline-danger btn-lg"><i class="fa fa-download"></i>Descargar CV<br>(Versión española)</a>&nbsp;
            <a href="http://eloyariascurriculum.com/assets/img/CURRICULUM-VITAE-PROGRAMADOR-v2-EN.pdf" target="_blank" class="btn btn-outline-danger btn-lg"><i class="fa fa-download"></i>Download CV<br>(English version)</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
