# ErrorDocument 404 http://www.eloyariascurriculum.com/not-found
# Header set Access-Control-Allow-Origin "*"
# <IfModule mod_headers.c>
#     Header set Access-Control-Allow-Origin "*"
# </IfModule>
# Options +Indexes
# RewriteEngine On
    # If an existing asset or directory is requested go to it as it is
    # RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
    # RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
    # RewriteRule ^ - [L]
    # If the requested resource doesn't exist, use index.html
# RewriteRule ^ /index.html
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^ index.html [QSA,L]
