<div id="education" class="section section-education">
    <div class="container">
      <div class="tim-title">
        <h2>Educación</h2>
      </div>
      <div class="row">
        <div class="col-md-12"> 
            <div class="item-education">
              <h3 class="title">Fictizia</h3>

              <p class="info">Certificado de Angular2<br/>"Desarrollo frontend de aplicaciones web, JavaScript, MVC".<span>&bull;</span> <em class="date">Abril 2017</em></p>
              <br>
              <p>Certificados de Angular2. El temario consiste en: </p>
              <br>

              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li>
                      <strong><span>&bull;</span> Introducción a Angular 2</strong>
                      <ul>
                        <li>Gestión de dependencias</li>
                        <li>Ciclo de vida de un componente</li>
                        <li>Flujo de comunicación entre componentes</li>
                      </ul>
                    </li>
                    <li>
                      <strong><span>&bull;</span> ECMAScript y RxJs</strong>
                      <ul>
                        <li>Clases</li>
                        <li>Exportación e importación</li>
                        <li>Arrow functions</li>
                        <li>Observables</li>
                      </ul>
                    </li>
                    <li>
                      <strong><span>&bull;</span> Typescript orientado a Angular 2</strong>
                    </li>
                    <li>
                      <strong><span>&bull;</span> Sintaxis</strong>
                      <ul>
                        <li>«Bindeo» de propiedades</li>
                        <li>Eventos</li>
                        <li>One-way vs Two-way data binding</li>
                        <li>Directivas propias</li>
                        <li>Deconstrucción de un ngFor</li>
                      </ul>
                    </li>
                    <li>
                      <strong><span>&bull;</span> Modularización</strong>
                      <ul>
                        <li>Componentes</li>
                        <li>Inyectables</li>
                        <li>Pipes</li>
                        <li>Módulos</li>
                        <li>Pensando en componentes</li>
                        <li>Reusabilidad</li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li>
                      <strong><span>&bull;</span> Router</strong>
                      <ul>
                        <li>Guards</li>
                        <li>Resolvers</li>
                        <li>Lazyload</li>
                        <li>Estrategias de precarga de módulos</li>
                      </ul>
                    </li>
                    <li>
                      <strong><span>&bull;</span> Forms</strong>
                      <ul>
                        <li>Formbuilder</li>
                        <li>Custom validators</li>
                        <li>Manejando el modelo de un form</li>
                      </ul>
                    </li>
                    <li>
                      <strong><span>&bull;</span> Estrategias de detección de cambios y optimización</strong>
                    </li>
                    <li>
                      <strong><span>&bull;</span> Construcción</strong>
                      <ul>
                        <li>AoT vs JiT</li>
                        <li>Webpack vs SystemJS</li>
                        <li>Utilizando Firebase para nuestro deploy</li>
                      </ul>
                    </li>
                    <li>
                      <strong><span>&bull;</span> Unit testing en Angular 2</strong>
                    </li>
                    <li>
                      <strong><span>&bull;</span> Angular Universal y Server side rendering</strong>
                    </li>
                    <li>
                      <strong><span>&bull;</span> Ionic o Nativescript</strong>
                    </li>
                    <li>
                      <strong><span>&bull;</span> Buenas prácticas y herramientas de desarrollo</strong>
                    </li>
                  </ul>
                </div>
              </div> 
            </div>
  
            <div class="item-education">
  
              <h3 class="title">Fictizia</h3>
              <p class="info">Certificado de AngularJS<br/>"Desarrollo frontend de aplicaciones web single-page basadas en MVC".<span>&bull;</span> <em class="date">Octubre 2015</em></p>
  
              <p>Certificados de AngularJS. El temario consiste en creacion de templates estaticos, templates de aAngularJS, objetos media, comandos de Angular, Data biding, controladores AJAX, inyección de dependencias, rutas para single-page app, fitrados con angular,gestión de eventos y animacines angular junto con css.</p>
  
            </div>
  
            <div class="item-education">
  
              <h3 class="title">Centro de estudios LUDOR S.L.</h3>
              <p class="info">Certificado de profesionalidad (Nivel 3).<br/>"Desarrollo de aplicaciones con tecnologia web".<span>&bull;</span> <em class="date">Agosto 2014</em></p>
  
              <p>Certificados con validez profesional abalados por el estado. El temario consistía en creación de páginas web con xHTML y HTML 5. A demás, JavaScript y Jquery junto con AJAX. Por el lado del servidor Java J2EE e Hibernate.</p>
  
            </div>
  
            <div class="item-education">
  
              <h3 class="title">Academia de las tecnologias EUROALCARRIA</h3>
              <p class="info">Certificado de profesionalidad (Nivel 2).<br/>"Diseño y maquetación de paginas web"<span>&bull;</span> <em class="date">Junio 2013</em></p>
  
              <p>Certificados con validez profesional abalados por el Estado. El temario consistía en creación de páginas web con xHTML. A demás, JavaScript y por el lado del servidor PHP.</p>
  
            </div>
  
            <div class="item-education">
  
              <h3 class="title">Universidad Camilo Jose Cela</h3>
              <p class="info">Máster en programacion PHP<span>&bull;</span> <em class="date">Septiembre 2013</em></p>
  
              <p>Máster avalado por la universidad Camilo José Cela. El temario consistía en creación de aplicaciones en PHP tanto a modo estructurado como orientado a objetos.</p>
  
              <p class="info">Máster en bases de datos MySQL<span>&bull;</span> <em class="date">Septiembre 2013</em></p>
  
              <p>Máster avalado por la universidad Camilo José Cela. El temario consistía en creación de bases de datos, modficación, eliminación y anexion de nueva informacion además de sus sentencias SQL.</p>
  
            </div>
  
            <div class="item-education">
  
              <h3 class="title">Instituto Luis de Lucena</h3>
              <p class="info">Bachillerato tecnologico<span>&bull;</span> <em class="date">Junio 2005</em></p>
  
              <p>Bachillerato realizado en el instituto Luis de Lucena por la rama tecnológica.</p>
  
              <p class="info">Ciclo formativo grado medio<br/>"Explotación de sistemas informáticos".<span>&bull;</span> <em class="date">Junio 2004</em></p>
  
              <p>Curso donde aprendí a mantener e instalar una red local y un servidor además de otros paradigmas de la informática.</p>
  
            </div>
  
            <div class="item-education">
  
              <h3 class="title">Colegio Diocesano Cardenal Cisneros</h3>
              <p class="info">Ciclo formativo grado medio<br/>"Administración de empresas".<span>&bull;</span> <em class="date">Junio 2003</em></p>
  
              <p>Curso donde aprendí contabilidad, facturación, nóminas y todo aquello relacionado con la administración.</p>
  
              <p class="info">Enseñanza Secundaria Obligatoria - E.S.O.<span>&bull;</span> <em class="date">Junio 2002</em></p>
  
              <p>Título de enseñanza obligatoria.</p>
  
            </div>
  
        </div> 
      </div>
    </div>
  </div>