<div id="skills" class="section section-skills">
  <div class="container">
    <div class="tim-title">
      <h2 class="title">Habilidades</h2>
    </div>
    <div class="col-md-12">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ngb-tabset [justify]="'center'">
            <ngb-tab title="Tecnologías">
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-6">
                      <h3>Liferay 6.2</h3>
                      <ngb-progressbar type="success" [value]="85" [striped]="true" [animated]="true">85 %</ngb-progressbar><br>
                      <h3>Liferay 6.1</h3>
                      <ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">80 %</ngb-progressbar><br>
                      <h3>Subversion (SVN)</h3>
                      <ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">80 %</ngb-progressbar><br>
                      <h3>GIT</h3>
                      <ngb-progressbar type="success" [value]="95" [striped]="true" [animated]="true">95 %</ngb-progressbar><br>
                      <h3>Jenkins</h3>
                      <ngb-progressbar type="warning" [value]="50" [striped]="true" [animated]="true">50 %</ngb-progressbar><br>
                      <h3>Yeoman</h3>
                      <ngb-progressbar type="warning" [value]="65" [striped]="true" [animated]="true">65 %</ngb-progressbar><br>
                  </div>
                  <div class="col-md-6">
                      <h3>Grunt</h3>
                      <ngb-progressbar type="warning" [value]="70" [striped]="true" [animated]="true">70 %</ngb-progressbar><br>
                      <h3>Gulp</h3>
                      <ngb-progressbar type="success" [value]="85" [striped]="true" [animated]="true">85 %</ngb-progressbar><br>
                      <h3>Node JS</h3>
                      <ngb-progressbar type="warning" [value]="50" [striped]="true" [animated]="true">50 %</ngb-progressbar><br>
                      <h3>WordPress</h3>
                      <ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true">75 %</ngb-progressbar><br>
                      <h3>Moodle</h3>
                      <ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">80 %</ngb-progressbar><br>
                      <h3>Drupal</h3>
                      <ngb-progressbar type="warning" [value]="60" [striped]="true" [animated]="true">60 %</ngb-progressbar><br>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Programación">
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-6">
                    <h3>CSS 3</h3>
                    <ngb-progressbar type="success" [value]="95" [striped]="true" [animated]="true">95 %</ngb-progressbar><br>
                    <h3>HTML</h3>
                    <ngb-progressbar type="success" [value]="95" [striped]="true" [animated]="true">95 %</ngb-progressbar><br>
                    <h3>JavaScript ES 5</h3>
                    <ngb-progressbar type="success" [value]="85" [striped]="true" [animated]="true">85 %</ngb-progressbar><br>
                    <h3>JavaScript ES 6</h3>
                    <ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">80 %</ngb-progressbar><br>
                    <h3>Jquery</h3>
                    <ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">80 %</ngb-progressbar><br>
                    <h3>Bootstrap 2, 3 y 4</h3>
                    <ngb-progressbar type="success" [value]="85" [striped]="true" [animated]="true">85 %</ngb-progressbar><br>
                  </div>
                  <div class="col-md-6">
                    <h3>Angular JS</h3>
                    <ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true">75 %</ngb-progressbar><br>
                    <h3>Angular 2 ></h3>
                    <ngb-progressbar type="success" [value]="90" [striped]="true" [animated]="true">90 %</ngb-progressbar><br>
                    <h3>SASS</h3>
                    <ngb-progressbar type="success" [value]="90" [striped]="true" [animated]="true">90 %</ngb-progressbar><br>
                    <h3>Java</h3>
                    <ngb-progressbar type="warning" [value]="70" [striped]="true" [animated]="true">70 %</ngb-progressbar><br>
                    <h3>PHP</h3>
                    <ngb-progressbar type="success" [value]="85" [striped]="true" [animated]="true">85 %</ngb-progressbar><br>
                    <h3>TypeScript</h3>
                    <ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">80 %</ngb-progressbar><br>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Metodologías">
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-6">
                    <h3>Scrum</h3>
                    <ngb-progressbar type="success" [value]="80" [striped]="true" [animated]="true">80 %</ngb-progressbar><br>
                    <h3>Trello</h3>
                    <ngb-progressbar type="success" [value]="85" [striped]="true" [animated]="true">85 %</ngb-progressbar><br>
                  </div>
                  <div class="col-md-6">
                    <h3>Jira</h3>
                    <ngb-progressbar type="warning" [value]="65" [striped]="true" [animated]="true">65 %</ngb-progressbar><br>
                    <h3>Mantis</h3>
                    <ngb-progressbar type="warning" [value]="50" [striped]="true" [animated]="true">50 %</ngb-progressbar><br>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>