<footer class="footer" *ngIf="!isErrorPage()">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><button class="btn btn-link btn-default" [scrollTo]="'#about'" [scrollDuration]="800" [scrollOffset]="-71">Sobre mi</button></li>
                    <li><button class="btn btn-link btn-default" [scrollTo]="'#education'" [scrollDuration]="800" [scrollOffset]="-71">Educación</button></li>
                    <li><button class="btn btn-link btn-default" [scrollTo]="'#experience'" [scrollDuration]="800" [scrollOffset]="-71">Experiencia</button></li>
                    <li><button class="btn btn-link btn-default" [scrollTo]="'#skills'" [scrollDuration]="800" [scrollOffset]="-71">Habilidades</button></li>
                    <li><button class="btn btn-link btn-default" [scrollTo]="'#portfolio'" [scrollDuration]="800" [scrollOffset]="-71">Trabajos</button></li>
                    <!-- <li><button class="btn btn-link btn-default" [scrollTo]="'#coments'" [scrollDuration]="800" [scrollOffset]="-71">Comentarios</button></li> -->
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, hecho con <i class="fa fa-heart heart"></i> por Eloy
                </span>
            </div>
        </div>
    </div>
</footer>
