<div class="section section-dark section-coments">
  <div class="container">
    <!-- <div class="tim-title">
      <h2 class="title">Comentarios LinkedIn</h2>
    </div> -->
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card page-carousel">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img src="./assets/img/transparent.png" alt="Random first slide">
              <div class="carousel-caption">
                <blockquote>
                  <p>Tener a Eloy en el equipo es un valor seguro. Se implica con total ilusión y esfuerzo. Gran trabajador, responsable y profesional. Ha sido un pilar fuerte en el proyecto y sin lugar a dudas contaría con él. Sus aportaciones han sido de gran ayuda y en varias ocasiones han mejorado el funcionamiento, ya que su visión aportaba claridad y las soluciones propuestas siempre han sido bien vistas por el cliente.
                  </p>
                  <cite>Ismael del campo - <span>"CEO y jefe de proyectos en VASS"</span></cite>
                </blockquote>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="./assets/img/transparent.png" alt="Random second slide">
              <div class="carousel-caption">
                <blockquote>
                  <p>Tener a Eloy en el equipo es una decisión muy acertada, por su implicación y entusiasmo a la hora de abordar diferentes problemas en el día a día.Es muy responsable y un gran profesional, además de aportar grandes conocimientos de Frontend.
                  </p>
                  <cite>Javier Sanz García - <span>"ECM/Liferay Consultant (Junior Programmer) en VASS"</span></cite>
                </blockquote>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="./assets/img/transparent.png" alt="Random third slide">
              <div class="carousel-caption">
                <blockquote>
                  <p>Haber trabajado con Eloy, ha sido todo un placer, tanto por las ganas de aprender, implicación y profesionalidad hasta en la mas mínima tarea, como por su personalidad y la capacidad de trabajo en equipo. Con personas como Eloy, da gusto ir a trabajar. A pesar de tener buenos conocimientos en lo que a maquetación se refiere, sigue mejorando continuamente y esto es un valor añadido que no todo el mundo posee.
                  Muy buen trabajador, profesional, comprometido, capaz, inteligente y responsable
                  </p>
                  <cite>Cristhian Alexis Benítez Suárez - <span>"Frontend Developer en Cast-Info"</span></cite>
                </blockquote>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>  
      </div>
      <div class="col-lg-6 col-md-12">
          <div class="icons-container">
              <i class="nc-icon nc-time-alarm"></i>
              <i class="nc-icon nc-atom"></i>
              <i class="nc-icon nc-camera-compact"></i>
              <i class="nc-icon nc-watch-time"></i>
              <i class="nc-icon nc-key-25"></i>
              <i class="nc-icon nc-diamond"></i>
              <i class="nc-icon nc-user-run"></i>
              <i class="nc-icon nc-layout-11"></i>
              <i class="nc-icon nc-badge"></i>
              <i class="nc-icon nc-bulb-63"></i>
              <i class="nc-icon nc-favourite-28"></i>
              <i class="nc-icon nc-planet"></i>
              <i class="nc-icon nc-tie-bow"></i>
              <i class="nc-icon nc-zoom-split"></i>
              <i class="nc-icon nc-cloud-download-93"></i>
          </div>
      </div>
    </div>
  </div>
</div>